<div class="verb-container">
  <form [formGroup]="verbForm" (ngSubmit)="onSearchVerb()">
    <mat-form-field appearance="fill">
      <mat-label>Verbe</mat-label>
      <input matInput formControlName="verb" placeholder="Entrez un verbe">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Rechercher</button>
  </form>

  <!-- Affichage des erreurs -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Affichage des conjugaisons si disponibles -->
  <div *ngIf="conjugations">
    <h2>Conjugaisons de {{ conjugations.word }}</h2>
    <p>{{ conjugations.fullDescription }}</p>

    <!-- Sélection du temps verbal -->
    <mat-form-field appearance="fill">
      <mat-label>Temps Verbal</mat-label>
      <mat-select [(value)]="selectedTense">
        <mat-option *ngFor="let tense of tenses" [value]="tense">{{ tense }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Affichage de la conjugaison pour le temps sélectionné -->
    <div *ngIf="selectedTense && conjugations[selectedTense]">
      <h3>{{ selectedTense }}</h3>
      <ul>
        <!-- Itérer sur les clés de conjugaison pour afficher les formes -->
        <ng-container *ngFor="let entry of objectEntries(conjugations[selectedTense])">
          <li *ngIf="isObject(entry[1])">{{ entry[0] }}:
            <ul>
              <!-- Afficher les sous-éléments s'ils existent -->
              <li *ngFor="let subEntry of objectEntries(entry[1])">
                {{ subEntry[0] }}: {{ subEntry[1] }}
              </li>
            </ul>
          </li>
          <li *ngIf="!isObject(entry[1])">{{ entry[0] }}: {{ entry[1] }}</li>
        </ng-container>
      </ul>
    </div>
  </div>

  <!-- Bouton pour ajouter le verbe affiché aux favoris -->
  <button mat-raised-button color="accent" (click)="addToFavorites()">Ajouter aux Favoris</button>

  <!-- Bouton pour voir les favoris -->
  <button mat-raised-button color="accent" (click)="getFavorites()">Voir mes favoris</button>

  <!-- Affichage des favoris -->
  <ul *ngIf="favorites.length > 0">
    <li *ngFor="let favorite of favorites">
      {{ favorite.verb }}
      <button mat-icon-button color="warn" (click)="removeFavorite(favorite.uid)">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
</div>
