<div class="logo-container">
  <img src="assets/logo-site.jpg" alt="Bescherelle Logo" class="logo-image">
</div>

<nav>
  <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active">
    Connexion
  </button>
  <button mat-raised-button color="accent" routerLink="/signup" routerLinkActive="active">
    Inscription
  </button>
  <button *ngIf="isLoggedIn()" mat-raised-button color="primary" routerLink="/verbs" routerLinkActive="active">
    Verbes
  </button>
  <button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">
    Déconnexion
  </button>
</nav>

<router-outlet></router-outlet>
